extends ../layouts/default.jade

block content
    include ../partials/sizes-page/mocky/mockyData
    include ../partials/breadcrumbs
    +breadcrumbs('Размеры')
    .row.small-up-12
        section.sizes_main-content.column.column-block
            h1.section-title.section-title--blue Размеры
            h3 Рекомендации для покупателей
            p Покупая обувь и одежду в интернет-магазине volleymag, Вы можете испытывать определенные затруднения, так как не можете примерить выбраный Вами товар. Чтобы помочь Вам удаленно подобрать себе обувь или одежду мы приводим здесь размерные таблицы для одежды, обуви и аксессуаров.
            h3 Рекомендации по тому, как Вам определить свой размер обуви
            p Используйте наши рекомендации, чтобы максимально снизить риск покупки неподходящей по размеру обуви и быть уверенными в том, что Вы будете носить обувь, удобную Вам!
                br
                | Подбор спортивной обуви, как и обычной, основан на определении длины Вашей стопы.
            h3 Общие советы по подбору обуви
            p Мы считаем, что, заказывая обувь у нас, Вы выполнили эту процедуру!
            h3 Общие советы по подбору обуви
            ul.ul--untitl.ul--dashed
                each article in dashedList1
                    li #{ article }
            p Мы считаем, что, заказывая обувь у нас, Вы выполнили эту процедуру!
            h3 Советы при проведении измерений
            ul.ul--untitl.ul--dashed
                each article in dashedList2
                    li #{ article }

            h3 Последовательность действий при измерении длины стопы
            p Встаньте на лист бумаги, постеленный на ровную поверхность. Необходимо стоять на листе, в крайнем случае, сидеть, поставив ногу на пол. В противном случае, можно ошибиться с размером в меньшую сторону, что крайне нежелательно.
            .img-holder
                img(src="assets/img/sizes/size-1.jpg", alt="foot measuring")
                img(src="assets/img/sizes/size-2.jpg", alt="foot measuring")
            p Карандашом очертите ступню (см. рисунок 1). При измерении держите карандаш строго вертикально и следите, чтобы карандаш находился в постоянном контакте со ступней во время всего процесса.
            p Для определения длины стопы измерьте растояние между самыми удаленными точками чертежа по длине так, как это показано на рисунке 2.
            p Полученный Вами результат (округление показателя в миллиметрах производится в большую сторону) найдите в таблице размерной сетки и Вы получите номер размера, соответствующий Вашим измерениям.
    .row.small-up-12
        section.sizes_size-grids.column.column-block
            each brand in sizesGrid
                article.grid_content
                    h2 #{ brand.title }
                    each item in brand.details
                        .grid_details
                            h3 #{ item.title }
                            if(item.tables.length)
                                each tab in item.tables
                                    .table-holder
                                        img(src="assets/img/sizes/#{ tab }.jpg")

